trunk/src/Trustev.Api/Service References/v1_1.Services.Social/SocialService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1.1/SocialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" />
  <xs:import schemaLocation="https://api.trustev.com/v1.1/SocialService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
  <xs:complexType name="AddProfileRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" minOccurs="0" name="SocialNetworks" nillable="true" type="q1:ArrayOfSocialNetwork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddProfileRequest" nillable="true" type="tns:AddProfileRequest" />
  <xs:complexType name="UpdateProfileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q2:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" minOccurs="0" name="SocialNetworks" nillable="true" type="q3:ArrayOfSocialNetwork" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateProfileRequest" nillable="true" type="tns:UpdateProfileRequest" />
</xs:schema>