trunk/src/Trustev.Api/Service References/v1_1.Services.Social/SocialService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/SocialService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:complexType name="ArrayOfSocialNetwork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialNetwork" nillable="true" type="tns:SocialNetwork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialNetwork" nillable="true" type="tns:ArrayOfSocialNetwork" />
  <xs:complexType name="SocialNetwork">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongTermAccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongTermAccessTokenExpiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortTermAccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortTermAccessTokenExpiry" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Type" type="q1:Constants.SocialNetworkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialNetwork" nillable="true" type="tns:SocialNetwork" />
</xs:schema>