trunk/src/Trustev.Api/Trustev.Api/Service References/v1.Services.Authentication/AuthenticationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://api.trustev.com" elementFormDefault="qualified" targetNamespace="https://api.trustev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.Authentication" />
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.Authentication" minOccurs="0" name="request" nillable="true" type="q1:SimpleLoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.Authentication" minOccurs="0" name="GetTokenResult" nillable="true" type="q2:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>