trunk/src/Trustev.Api/Service References/v1_1.Services.Authentication/AuthenticationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Authentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1.1/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" />
  <xs:import schemaLocation="https://api.trustev.com/v1.1/AuthenticationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:complexType name="CreateTokenRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sha256Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateTokenRequest" nillable="true" type="tns:CreateTokenRequest" />
  <xs:complexType name="CreateTokenResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" base="q1:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateTokenResponse" nillable="true" type="tns:CreateTokenResponse" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="APIToken" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="CredentialType" type="q2:Constants.CredentialType" />
      <xs:element minOccurs="0" name="ExpireAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
</xs:schema>