src/Trustev.Api/Service References/v1_1.Services.Transaction/TransactionService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:complexType name="AddTransactionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" minOccurs="0" name="SocialNetwork" nillable="true" type="q1:SocialNetwork" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction" minOccurs="0" name="TransactionData" nillable="true" type="q2:TransactionData" />
      <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddTransactionRequest" nillable="true" type="tns:AddTransactionRequest" />
  <xs:complexType name="AddTransactionStatusRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Reason" type="q3:Constants.OrderStatusReason" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Status" type="q4:Constants.OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddTransactionStatusRequest" nillable="true" type="tns:AddTransactionStatusRequest" />
  <xs:complexType name="AddTransactionBINRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BINNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddTransactionBINRequest" nillable="true" type="tns:AddTransactionBINRequest" />
  <xs:complexType name="UpdateTransactionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Social" minOccurs="0" name="SocialNetwork" nillable="true" type="q5:SocialNetwork" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction" minOccurs="0" name="TransactionData" nillable="true" type="q6:TransactionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateTransactionRequest" nillable="true" type="tns:UpdateTransactionRequest" />
</xs:schema>