trunk/src/Trustev.Api/Service References/v1.Services.Profile/ProfileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://api.trustev.com" elementFormDefault="qualified" targetNamespace="https://api.trustev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Requests" />
  <xs:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" />
  <xs:element name="GetMostRecent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Requests" minOccurs="0" name="request" nillable="true" type="q1:MostRecentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostRecentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" minOccurs="0" name="GetMostRecentResult" nillable="true" type="q2:MostRecentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Requests" minOccurs="0" name="request" nillable="true" type="q3:HistoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" minOccurs="0" name="GetHistoryResult" nillable="true" type="q4:HistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Requests" minOccurs="0" name="request" nillable="true" type="q5:AddressVerificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" minOccurs="0" name="VerifyAddressResult" nillable="true" type="q6:AddressVerificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>