trunk/src/Trustev.Api/Service References/v1.Services.Profile/ProfileService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile" />
  <xs:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
  <xs:complexType name="MostRecentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile" minOccurs="0" name="OverallTrend" nillable="true" type="q2:OverallTrend" />
          <xs:element minOccurs="0" name="Score" type="xs:decimal" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile" minOccurs="0" name="Trends" nillable="true" type="q3:ArrayOfTrend" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MostRecentResponse" nillable="true" type="tns:MostRecentResponse" />
  <xs:complexType name="HistoryResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q4:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile" minOccurs="0" name="RankHistory" nillable="true" type="q5:ArrayOfRankHistory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryResponse" nillable="true" type="tns:HistoryResponse" />
  <xs:complexType name="AddressVerificationResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q6:ResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressVerificationResponse" nillable="true" type="tns:AddressVerificationResponse" />
</xs:schema>