trunk/src/Trustev.Api/Service References/v1.Services.Profile/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://api.trustev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="https://api.trustev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://api.trustev.com/v1/ProfileService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.trustev.com/Imports">
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd0" namespace="https://api.trustev.com" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Requests" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile.Responses" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.TrustevProfile" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/ProfileService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_GetMostRecent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMostRecent" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetMostRecent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMostRecentResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_VerifyAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAddress" />
  </wsdl:message>
  <wsdl:message name="IProfileService_VerifyAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="GetMostRecent">
      <wsdl:input wsaw:Action="https://api.trustev.com/IProfileService/GetMostRecent" message="tns:IProfileService_GetMostRecent_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IProfileService/GetMostRecentResponse" message="tns:IProfileService_GetMostRecent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="https://api.trustev.com/IProfileService/GetHistory" message="tns:IProfileService_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IProfileService/GetHistoryResponse" message="tns:IProfileService_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAddress">
      <wsdl:input wsaw:Action="https://api.trustev.com/IProfileService/VerifyAddress" message="tns:IProfileService_VerifyAddress_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IProfileService/VerifyAddressResponse" message="tns:IProfileService_VerifyAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ProfileService">
    <wsdl:port name="BasicHttpBinding_IProfileService" binding="i0:BasicHttpBinding_IProfileService">
      <soap:address location="https://api.trustev.com/v1/ProfileService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>