trunk/src/Trustev.Api/Service References/v1.Services.Transaction/TransactionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" />
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:complexType name="AddTransactionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" minOccurs="0" name="TrustProfile" nillable="true" type="q2:TrustevProfile" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddTransactionResponse" nillable="true" type="tns:AddTransactionResponse" />
  <xs:complexType name="UpdateStatusResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q3:ResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateStatusResponse" nillable="true" type="tns:UpdateStatusResponse" />
  <xs:complexType name="GetTransactionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q4:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" minOccurs="0" name="Item" nillable="true" type="q5:ArrayOfTransactionItem" />
          <xs:element minOccurs="0" name="Score" type="xs:decimal" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Status" type="q6:Constants.OrderStatus" />
          <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TotalBeforeTax" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDelivery" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalTax" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTransactionResponse" nillable="true" type="tns:GetTransactionResponse" />
  <xs:complexType name="UpdateTransactionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q7:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" minOccurs="0" name="TrustProfile" nillable="true" type="q8:TrustevProfile" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateTransactionResponse" nillable="true" type="tns:UpdateTransactionResponse" />
</xs:schema>