trunk/src/Trustev.Api/Service References/v1.Services.Transaction/TransactionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Constants.SocialNetworkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Facebook" />
      <xs:enumeration value="Twitter" />
      <xs:enumeration value="LinkedIn" />
      <xs:enumeration value="Trustev" />
      <xs:enumeration value="TrustevSession" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Constants.SocialNetworkType" nillable="true" type="tns:Constants.SocialNetworkType" />
  <xs:simpleType name="Constants.AddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Billing" />
      <xs:enumeration value="Delivery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Constants.AddressType" nillable="true" type="tns:Constants.AddressType" />
  <xs:simpleType name="Constants.OrderStatusReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="System" />
      <xs:enumeration value="Fraud" />
      <xs:enumeration value="Complaint" />
      <xs:enumeration value="Remorse" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Constants.OrderStatusReason" nillable="true" type="tns:Constants.OrderStatusReason" />
  <xs:simpleType name="Constants.OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Init" />
      <xs:enumeration value="Placed" />
      <xs:enumeration value="Refunded" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Fulfilled" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Refreshed" />
      <xs:enumeration value="Payment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Constants.OrderStatus" nillable="true" type="tns:Constants.OrderStatus" />
</xs:schema>