trunk/src/Trustev.Api/Service References/v1.Services.Transaction/TransactionService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" />
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" />
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
  <xs:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:complexType name="AddTransactionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" minOccurs="0" name="SocialNetwork" nillable="true" type="q2:SocialNetwork" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" minOccurs="0" name="TransactionData" nillable="true" type="q3:TransactionData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddTransactionRequest" nillable="true" type="tns:AddTransactionRequest" />
  <xs:complexType name="UpdateStatusRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q4:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Reason" type="q5:Constants.OrderStatusReason" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Status" type="q6:Constants.OrderStatus" />
          <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateStatusRequest" nillable="true" type="tns:UpdateStatusRequest" />
  <xs:complexType name="GetTransactionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q7:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTransactionRequest" nillable="true" type="tns:GetTransactionRequest" />
  <xs:complexType name="UpdateTransactionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q8:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" minOccurs="0" name="SocialNetwork" nillable="true" type="q9:SocialNetwork" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" minOccurs="0" name="TransactionData" nillable="true" type="q10:TransactionData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateTransactionRequest" nillable="true" type="tns:UpdateTransactionRequest" />
</xs:schema>