trunk/src/Trustev.Api/Service References/v1.Services.Transaction/TransactionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://api.trustev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionService" targetNamespace="https://api.trustev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://api.trustev.com/v1/TransactionService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.trustev.com/Imports">
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd0" namespace="https://api.trustev.com" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction.Requests" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/TransactionService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Transaction.Responses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionService_AddTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_AddTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_AddTransactionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionStatus" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_AddTransactionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_UpdateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_UpdateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionService">
    <wsdl:operation name="AddTransaction">
      <wsdl:input wsaw:Action="https://api.trustev.com/ITransactionService/AddTransaction" message="tns:ITransactionService_AddTransaction_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ITransactionService/AddTransactionResponse" message="tns:ITransactionService_AddTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransactionStatus">
      <wsdl:input wsaw:Action="https://api.trustev.com/ITransactionService/AddTransactionStatus" message="tns:ITransactionService_AddTransactionStatus_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ITransactionService/AddTransactionStatusResponse" message="tns:ITransactionService_AddTransactionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <wsdl:input wsaw:Action="https://api.trustev.com/ITransactionService/GetTransaction" message="tns:ITransactionService_GetTransaction_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ITransactionService/GetTransactionResponse" message="tns:ITransactionService_GetTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input wsaw:Action="https://api.trustev.com/ITransactionService/UpdateTransaction" message="tns:ITransactionService_UpdateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ITransactionService/UpdateTransactionResponse" message="tns:ITransactionService_UpdateTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TransactionService">
    <wsdl:port name="BasicHttpBinding_ITransactionService" binding="i0:BasicHttpBinding_ITransactionService">
      <soap:address location="https://api.trustev.com/v1/TransactionService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>