trunk/src/Trustev.Api/Service References/v1_1.Services.Identity/IdentityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://api.trustev.com" elementFormDefault="qualified" targetNamespace="https://api.trustev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Customer" />
  <xs:element name="GetIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" minOccurs="0" name="GetIdentityResult" nillable="true" type="q1:GetIdentityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromSocialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" minOccurs="0" name="GetIdentityFromSocialResult" nillable="true" type="q2:GetIdentityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" minOccurs="0" name="GetIdentityFromEmailResult" nillable="true" type="q3:GetIdentityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityFromPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" minOccurs="0" name="GetIdentityFromPhoneResult" nillable="true" type="q4:GetIdentityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Customer" minOccurs="0" name="request" nillable="true" type="q5:UpdateCustomerRequest" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>