trunk/src/Trustev.Api/Service References/v1_1.Services.Identity/IdentityService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://api.trustev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IdentityService" targetNamespace="https://api.trustev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://127.0.0.1:444/v1.1/IdentityService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.trustev.com/Imports">
      <xsd:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd0" namespace="https://api.trustev.com" />
      <xsd:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" />
      <xsd:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" />
      <xsd:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Customer" />
      <xsd:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIdentityService_GetIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentity" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentityFromSocial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityFromSocial" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentityFromSocial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityFromSocialResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentityFromEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityFromEmail" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentityFromEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityFromEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentityFromPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityFromPhone" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_GetIdentityFromPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityFromPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IIdentityService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IIdentityService">
    <wsdl:operation name="GetIdentity">
      <wsdl:input wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentity" message="tns:IIdentityService_GetIdentity_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityResponse" message="tns:IIdentityService_GetIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentityFromSocial">
      <wsdl:input wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityFromSocial" message="tns:IIdentityService_GetIdentityFromSocial_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityFromSocialResponse" message="tns:IIdentityService_GetIdentityFromSocial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentityFromEmail">
      <wsdl:input wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityFromEmail" message="tns:IIdentityService_GetIdentityFromEmail_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityFromEmailResponse" message="tns:IIdentityService_GetIdentityFromEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentityFromPhone">
      <wsdl:input wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityFromPhone" message="tns:IIdentityService_GetIdentityFromPhone_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IIdentityService/GetIdentityFromPhoneResponse" message="tns:IIdentityService_GetIdentityFromPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="https://api.trustev.com/IIdentityService/UpdateCustomer" message="tns:IIdentityService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/IIdentityService/UpdateCustomerResponse" message="tns:IIdentityService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="IdentityService">
    <wsdl:port name="BasicHttpBinding_IIdentityService" binding="i0:BasicHttpBinding_IIdentityService">
      <soap:address location="https://127.0.0.1:444/v1.1/IdentityService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>