trunk/src/Trustev.Api/Service References/v1_1.Services.Transaction/TransactionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://api.trustev.com" elementFormDefault="qualified" targetNamespace="https://api.trustev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1.1/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" />
  <xs:import schemaLocation="https://api.trustev.com/v1.1/TransactionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Responses" />
  <xs:element name="AddTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" minOccurs="0" name="request" nillable="true" type="q1:AddTransactionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" minOccurs="0" name="request" nillable="true" type="q2:AddTransactionStatusRequest" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionBIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" minOccurs="0" name="request" nillable="true" type="q3:AddTransactionBINRequest" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionBINResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Responses" minOccurs="0" name="GetTransactionResult" nillable="true" type="q4:GetTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Requests" minOccurs="0" name="request" nillable="true" type="q5:UpdateTransactionRequest" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>