trunk/src/Trustev.Api/Service References/v1_1.Services.Transaction/TransactionService83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/TransactionService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" />
  <xs:complexType name="GetTransactionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" base="q1:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Transaction" minOccurs="0" name="Item" nillable="true" type="q2:ArrayOfTransactionItem" />
          <xs:element minOccurs="0" name="Score" type="xs:decimal" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Status" type="q3:Constants.OrderStatus" />
          <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TotalBeforeTax" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDelivery" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalTax" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTransactionResponse" nillable="true" type="tns:GetTransactionResponse" />
</xs:schema>