trunk/src/Trustev.Api/Service References/v1_1.Services.Profile/ProfileService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/ProfileService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:complexType name="TrustevProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sources" nillable="true" type="tns:ArrayOfTrustevProfileSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrustevProfile" nillable="true" type="tns:TrustevProfile" />
  <xs:complexType name="ArrayOfTrustevProfileSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrustevProfileSource" nillable="true" type="tns:TrustevProfileSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrustevProfileSource" nillable="true" type="tns:ArrayOfTrustevProfileSource" />
  <xs:complexType name="TrustevProfileSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Scores" nillable="true" type="tns:ArrayOfTrustevProfileScore" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Source" type="q1:Constants.TrustevProfileScoreSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrustevProfileSource" nillable="true" type="tns:TrustevProfileSource" />
  <xs:complexType name="ArrayOfTrustevProfileScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrustevProfileScore" nillable="true" type="tns:TrustevProfileScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrustevProfileScore" nillable="true" type="tns:ArrayOfTrustevProfileScore" />
  <xs:complexType name="TrustevProfileScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confidence" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Parameter" type="q2:Constants.TrustevProfileScoreParameter" />
      <xs:element minOccurs="0" name="Score" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrustevProfileScore" nillable="true" type="tns:TrustevProfileScore" />
</xs:schema>