trunk/src/Trustev.Api/Service References/v1.Services.Social/SocialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://api.trustev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialService" targetNamespace="https://api.trustev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://api.trustev.com/v1/SocialService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.trustev.com/Imports">
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd0" namespace="https://api.trustev.com" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social.Responses" />
      <xsd:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social.Requests" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialService_AddProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProfile" />
  </wsdl:message>
  <wsdl:message name="ISocialService_AddProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="ISocialService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_DeleteProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProfile" />
  </wsdl:message>
  <wsdl:message name="ISocialService_DeleteProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialService">
    <wsdl:operation name="AddProfile">
      <wsdl:input wsaw:Action="https://api.trustev.com/ISocialService/AddProfile" message="tns:ISocialService_AddProfile_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ISocialService/AddProfileResponse" message="tns:ISocialService_AddProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="https://api.trustev.com/ISocialService/UpdateProfile" message="tns:ISocialService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ISocialService/UpdateProfileResponse" message="tns:ISocialService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfile">
      <wsdl:input wsaw:Action="https://api.trustev.com/ISocialService/DeleteProfile" message="tns:ISocialService_DeleteProfile_InputMessage" />
      <wsdl:output wsaw:Action="https://api.trustev.com/ISocialService/DeleteProfileResponse" message="tns:ISocialService_DeleteProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SocialService">
    <wsdl:port name="BasicHttpBinding_ISocialService" binding="i0:BasicHttpBinding_ISocialService">
      <soap:address location="https://api.trustev.com/v1/SocialService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>