trunk/src/Trustev.Api/Service References/v1.Services.Social/SocialService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" />
  <xs:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types" />
  <xs:import schemaLocation="https://api.trustev.com/v1/SocialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" />
  <xs:complexType name="UpdateProfileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" minOccurs="0" name="SocialNetworks" nillable="true" type="q2:ArrayOfSocialNetwork" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Social.Verify.Types" minOccurs="0" name="Type" type="q3:Constants.SocialNetworkType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateProfileRequest" nillable="true" type="tns:UpdateProfileRequest" />
  <xs:complexType name="DeleteProfileRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Authentication" base="q4:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1.Social" minOccurs="0" name="SocialNetworks" nillable="true" type="q5:ArrayOfSocialNetwork" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteProfileRequest" nillable="true" type="tns:DeleteProfileRequest" />
</xs:schema>