src/Trustev.Api/Service References/v1_1.Services.Identity/IdentityService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Identity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://127.0.0.1:444/v1.1/IdentityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" />
  <xs:complexType name="GetIdentityResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Social.Verify.Types.DataContracts.v1_1.Base" base="q1:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetIdentityResponse" nillable="true" type="tns:GetIdentityResponse" />
</xs:schema>